@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: 'Lora', serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(images/cement-texture.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
  padding: 20px;
  transition: width 0.5s;
}

.sidebar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.sidebar a {
  text-decoration: none;
  color: black;
  font-size: x-large;
  margin-bottom: 10px;
}

.sidebar a:hover {
  color: #555;
}

.submenu {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  background-color: darkgrey;
  padding: 20px;
  transition: display 0.5s;
}

.submenu.show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.submenu a {
  text-decoration: none;
  color: black;
  font-size: large;
  margin: 0 10px;
}

.submenu a:hover {
  color: #555;
}

.content {
  background-color: #fff;
  margin-left: 15%;
  margin-right: 20%;
  font-size: large;
  background-image: url(images/cement-texture.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.emphasis {
  display: flex;
  font-size: xx-large;
  font-style: italic;
  justify-content: center;
}

.legenda {
  display: flex;
  font-size: medium;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#header-iframe {
  width: 100%;
  height: 35vh;
  margin: 0;
  padding: 0;
  border: none;
}

.galeria {
  max-width: 100%;
  height: auto;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.img_centered {
  max-width: 70%;
  height: auto;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.network {
  display: flex;
  flex-direction: row;
}

a {
  color: crimson;
}